<html>
<head>
<title>Add path</title>
</head>
<body>
<form action="/api/paths/add" method="post">
    <fieldset>
        <legend>Starting coords</legend>
        <input name="firstx" type="number" step="0.5" />
        <input name="firstz" type="number" step="0.5" />
    </fieldset>
    <fieldset>
        <legend>Overworld coords</legend>
        <input name="secondx" type="number" step="0.5" />
        <input name="secondz" type="number" step="0.5" />
    </fieldset>
    <button type="submit">Submit</button>
</form>
</body>
</html>