<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<html>
  <head>
    <!-- My stuff -->
    <link rel="stylesheet" type="text/css" href="/static/css/netherbuilder.css">
    <script src="/static/js/netherbuilder.js" type="text/javascript"></script>
    
    <!-- Leaflet -->
    <link rel="stylesheet" href="/static/include/leaflet.css" />
    <script src="/static/include/leaflet.js"></script>
    <link rel="stylesheet" href="/static/css/L.SimpleGraticule.css" />
    <script src="/static/js/L.SimpleGraticule.js" type="text/javascript"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/include/bootstrap.min.css">
    <link rel="stylesheet" href="/static/include/font-awesome.min.css">
    <script src="/static/include/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/include/popper.min.js"></script>
    <script src="/static/include/bootstrap.js"></script>

  </head>
  <body onload="setupMap()">
	<meta id="mapSources" data-nether-map-source="{{ netherMapSource }}" data-overworld-map-source="{{ overworldMapSource }}" />
        <meta id="mapZooms" data-min-zoom="{{ minZoom }}" data-max-zoom="{{ maxZoom }}" />
    <div id="map"></div>
    <div id="floatingButtonHolder">
      <div class="mb-2">
        <button id="newVertex" class="btn btn-primary" data-toggle="modal" data-target="#vertexModal">New point of interest</button>
      </div>
      <div class="mb-2">
        <button id="newPath" class="btn btn-primary" data-toggle="modal" data-target="#pathModal">New path segment</button>
      </div>
      <div>
        <button id="toggleDimension" onclick="toggleDimension()" class="btn btn-success">Show Overworld Locations</button>
      </div>
    </div>
    
    <!-- Add forms -->
    
    <form id="newVertexForm" action="/api/vertices/add" method="post">
      <div class="modal fade" id="vertexModal" tabindex="-1" role="dialog" aria-labelledby="vertexModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="vertexModalLabel">Add a new point of interest</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="newpoiicon">Icon</label>
                <select name="icon" class="form-control" id="newpoiicon" aria-describedby="poiIconHelp">
                </select>
                <small id="poiIconHelp" class="form-text text-muted">An icon to show on the map</small>
              </div>
              <div class="form-group">
                <label for="poiName">Name</label>
                <input type="text" class="form-control" id="poiName" name="name" aria-describedby="poiNameHelp">
                <small id="poiNameHelp" class="form-text text-muted">A short name for this point of interest</small>
              </div>
              <label for="poiNetherCoords">Nether Coords</label>
              <div id="poiNetherCoords" class="form-group">
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <input type="number" class="form-control" id="poiNetherX" name="netherx" step="0.5">
                    </div>
                    <div class="col-sm">
                      <input type="number" class="form-control" id="poiNetherZ" name="netherz" step="0.5">
                    </div>
                  </div>
                </div>
              </div>
              
              <label for="poiOverworldCoords">Overworld Coords</label>
              <div id="poiOverworldCoords" class="form-group">
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <input type="number" class="form-control" id="poiOverworldX" name="overx" step="0.5">
                    </div>
                    <div class="col-sm">
                      <input type="number" class="form-control" id="poiOverworldZ" name="overz" step="0.5">
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <label for="poiDescription">Description</label>
                <textarea class="form-control" id="poiDescription" name="description" rows="3"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    
    <form id="newPathForm" action="/api/paths/add" method="post">
      <div class="modal fade" id="pathModal" tabindex="-1" role="dialog" aria-labelledby="pathModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="pathModalLabel">Add a new path</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <label for="pathStart">Path start</label>
              <div id="pathStart" class="form-group">
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <input type="number" class="form-control" id="pathStartX" name="firstx" step="0.5">
                    </div>
                    <div class="col-sm">
                      <input type="number" class="form-control" id="pathStartZ" name="firstz" step="0.5">
                    </div>
                  </div>
                </div>
              </div>
              
              <label for="pathEnd">Path end</label>
              <div id="pathEnd" class="form-group">
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <input type="number" class="form-control" id="pathEndX" name="secondx" step="0.5">
                    </div>
                    <div class="col-sm">
                      <input type="number" class="form-control" id="pathEndZ" name="secondz" step="0.5">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    
    <!-- Edit forms -->

    <form id="editVertexForm" action="/api/vertices/edit" method="post">
      <div class="modal fade" id="editVertexModal" tabindex="-1" role="dialog" aria-labelledby="editVertexModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editVertexModalLabel">Edit <span id="editVertName"></span></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="editpoiicon">Icon</label>
                <select name="icon" class="form-control" id="editpoiicon" aria-describedby="poiIconHelp">
                </select>
                <small id="poiIconHelp" class="form-text text-muted">An icon to show on the map</small>
              </div>
              <div class="form-group">
                <label for="editPoiName">Name</label>
                <input type="text" class="form-control" id="editPoiName" name="name" aria-describedby="editPoiNameHelp">
                <small id="editPoiNameHelp" class="form-text text-muted">A short name for this point of interest</small>
                <input type="hidden" id="editPoiId" name="id" />
              </div>
              <label for="editPoiNetherCoords">Nether Coords</label>
              <div id="editPoiNetherCoords" class="form-group">
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <input type="number" class="form-control" id="editPoiNetherX" name="netherx" step="0.5">
                    </div>
                    <div class="col-sm">
                      <input type="number" class="form-control" id="editPoiNetherZ" name="netherz" step="0.5">
                    </div>
                  </div>
                </div>
              </div>
              
              <label for="editPoiOverworldCoords">Overworld Coords</label>
              <div id="editPoiOverworldCoords" class="form-group">
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <input type="number" class="form-control" id="editPoiOverworldX" name="overx" step="0.5">
                    </div>
                    <div class="col-sm">
                      <input type="number" class="form-control" id="editPoiOverworldZ" name="overz" step="0.5">
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <label for="editPoiDescription">Description</label>
                <textarea class="form-control" id="editPoiDescription" name="description" rows="3"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    
    <form id="editPathForm" action="/api/paths/edit" method="post">
      <div class="modal fade" id="editPathModal" tabindex="-1" role="dialog" aria-labelledby="editPathModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editPathModalLabel">Edit path</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <input type="hidden" id="editPathId" name="id" />
              <label for="editPathStart">Path start</label>
              <div id="editPathStart" class="form-group">
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <input type="number" class="form-control" id="editPathStartX" name="firstx" step="0.5">
                    </div>
                    <div class="col-sm">
                      <input type="number" class="form-control" id="editPathStartZ" name="firstz" step="0.5">
                    </div>
                  </div>
                </div>
              </div>
              
              <label for="editPathEnd">Path end</label>
              <div id="editPathEnd" class="form-group">
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <input type="number" class="form-control" id="editPathEndX" name="secondx" step="0.5">
                    </div>
                    <div class="col-sm">
                      <input type="number" class="form-control" id="editPathEndZ" name="secondz" step="0.5">
                    </div>
                  </div>
                </div>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    
  </body>
</html>
