<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
  <title>Villagers at {{ vertex.name }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/minecraftitems.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  </head>
  <body>
    <div id="appdata" data-villagers="{{ villagers }}"></div>
    <div id="app"></div>
  </body>
  <script src="/static/js/minecraftitems.js"></script>
</html>