<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<html>
  <head>
  <title>Villagers at {{ vertex.name }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/minecraftitems.css">
    <link rel="stylesheet" href="/static/include/bootstrap.min.css">
    <link rel="stylesheet" href="/static/include/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/netherbuilder.css">
  </head>
  <body>
    <header>
    </header>
    <div id="appdata" data-vertex='{{ vertex|tojson|safe }}' data-villagers="{{ villagers }}" data-item-dict="{{ itemDict }}"></div>
    <div id="app"></div>
  </body>
  <script src="/static/js/minecraftitems.js"></script>
</html>
